.survey-form {
  width: 45%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: start;
  gap: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 15px;
  border: 1px solid #007fff;
}

.survey-form .form-title {
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #007fff;
}

.survey-form .form-title .title {
  font-family: "Kanit", sans-serif;
  color: #ffff;
  font-size: 28px;
  font-weight: 500;
}

.survey-form .form-content {
  width: 100%;
  height: 84%;

  overflow-x: auto;
  background-color: #ffffff;
  /* border: 2px solid greenyellow; */
}

.survey-form .form-content form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  padding-right: 15px;
  background-color: #ffffff;
  /* border: 2px solid red; */
}

.form-content form .input {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  /* border: 2px solid #007FFF; */
}

form .input label {
  font-weight: 600;
  width: 80%;
}

form .input input,
textarea,
select {
  width: 80%;
  height: 50%;
  font-size: 18px;
  padding-left: 10px;
  border: 2px solid #007fff;
}

.survey-form button {
  width: 40%;
  height: 6.5%;
  margin-bottom: 4px;
  border-top-left-radius: 15px;
  border-radius: 10px;
  font-size: 22px;
  font-family: "Kanit", sans-serif;
  color: #ffff;
  font-weight: 500;
  background-color: #007fff;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
}

.survey-form button:hover {
  color: #ffff;
  font-weight: 500;
  background-color: #3457d5;
  transition: 0.3s;
}

.form-title .error-msg {
  color: red;
  display: none;
  font-size: 18px;
  font-weight: 400;
}

.form-title .success-msg {
  color: greenyellow;
  display: none;
  font-size: 18px;
  font-weight: 400;
}
